extends: default

ignore: |
  .tox/
  molecule/
  tests/
  
rules:
  line-length:
    ignore: |
      .tox/
      molecule/
      tests/
      *.j2
    max: 120
  document-start: disable
  truthy: disable
  
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
