---
data_dir: /var/lib/vector

api:
  enabled: {{ vector_api_enabled }}
  address: {{ vector_api_address }}

sources:
  demo_logs:
    type: demo_logs
    format: json

sinks:
  to_clickhouse:
    type: clickhouse
    inputs:
      - demo_logs
    database: "{{ clickhouse_database }}"
    endpoint: "http://{{ clickhouse_host }}:{{ clickhouse_port }}"
    table: "{{ clickhouse_table }}"
    skip_unknown_fields: true